
      /* #form
      {
        background-color: white;
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2); 
         width: 1100px; 
         z-index: 1;
        
        
      } */
      #sbtn{
        margin-bottom: 30px;
        padding: 5px 30px ;
        border-radius: 25px;

      }

    